@model IEnumerable<TruckingInfo>

<h2>TruckingInfo</h2>

<div style="display: block">
    <a href="/TruckingInfo/InsertTruckingInfo/" style="color: white">Create a New Info</a>
</div>

<table class="table" style="color:white">
    <tr>
        <th>TruckID</th>
        <th>DriverID</th>
        <th>DriverName</th>
        <th>Mileage</th>
        
    </tr>

    @foreach (var truckingInfo in @Model)
    {
        <tr>
            <td><a href="/TruckingInfo/ViewTruckingInfo/@truckingInfo.TruckID" style="color:white">@truckingInfo.TruckID</a></td>
            <td>@truckingInfo.DriverID</td>
            <td>@truckingInfo.DriverName</td>
            <td>@truckingInfo.Mileage</td>
           
        </tr>
    }

</table>
<style>
    body {
        background-image: url('/images/truckimage5.jpg');
        background-size: cover;
        color: white;
    }
  
</style>