@model TruckingInfo

<h2>Create a New TruckingInfo</h2>

@using (Html.BeginForm("InsertTruckingInfoToDatabase", "TruckingInfo", "Post"))
{
    <input asp-for="TruckID" type="hidden" value="" />

    <label asp-for="DriverID" class="control-label">DriverID</label>
    <input type="number" name="DriverID" class="form-control" value="" />

    <label asp-for="DriverName" class="control-label">DriverName</label>
    <input type="text" name="DriverName" class="form-control" value="" />

    <label asp-for="Mileage" class="control-label">Mileage</label>
    <input type="number" step="0.01" name="Mileage" class="form-control" />

    <div class="form-group">
        <label for="">Select a Category</label>
        <select class="form-control" name="CategoryID" value="">
            @foreach (var cat in Model.Categories)
            {
                <option value="@cat.CategoriesID">@cat.CategoriesID @cat.State</option>
            }
        </select>
    </div>

    <input type="submit" value="Create TruckingInfo" class="btn btn-primary" />
}
<style>
    body
    {
        background-color:grey;
    }
  
</style>